PORT=4000
NODE_ENV=production
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/improx_monitor?schema=public"
JWT_SECRET="improx_ultra_secure_jwt_secret_2026_production_key"
JWT_EXPIRES_IN="30d"
UPLOAD_DIR="./uploads"
CORS_ORIGIN="*"
